html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Dongle', sans-serif;
  
}

html {
  font-size:10px;

}

@media screen and (max-width: 1024px){
  html{
    font-size:8px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hover {
  cursor:pointer;
}

.test{
  background:rgb(161, 236, 220)
}
